@model UserViewModel

<h1>入力内容確認</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Registar">
            <div class="form-group">
                <label>@Model.Name</label>
                <input type="hidden" asp-for="Name" />
            </div>
            <div class="form-group">
                <label>@Model.Age</label>
                <input type="hidden" asp-for="Age" />
            </div>
            <div class="form-group">
                <label>@Model.AccountNumber</label>
                <input type="hidden" asp-for="AccountNumber" />
            </div>
            <div class="form-group">
                <label>@Model.CMFNumber</label>
                <input type="hidden" asp-for="CMFNumber" />
            </div>
            <div class="form-group">
                <label>@Model.PhoneNumber</label>
                <input type="hidden" asp-for="PhoneNumber" />
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Next" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>